@charset "UTF-8";
@import "../settings/config";
@import "../mixin/mq";

// Responsive Style
._pc {
  @include mq_pc {
    display: block;
  }
  @include mq_sp {
    display: none !important;
  }
}
._sp {
  @include mq_pc {
    display: none !important;
  }
  @include mq_sp {
    display: block;
  }
}
._pc01 {
  @include mq_pc01 {
    display: block;
  }
  @include mq_sp01 {
    display: none !important;
  }
}
._sp01 {
  @include mq_pc01 {
    display: none !important;
  }
  @include mq_sp01 {
    display: block;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  color: unset;
  text-decoration: none;
}