@import "../mixin/mq";
@import "../mixin/flex";
@import "../mixin/YuMincho";
@import "../mixin/YuGothic";
@import "../settings/config";

.header {
  @include flex(center, left);
  ul {
    @include flex();
  }
}

.header-white {
  position: absolute;
  top: 0;
  width: 100%;
  color: $white;
  background-color: $transparent;
  .header-contact {
    padding: 16px 10px 0 29px;
    @include YuMincho(demibold);

    div {
      margin-top: -3px;
    }
  }
  #header-white-item01 {
    content: url(../img/common/nav_01_w.png);
    width: 82px;
  }
  #header-white-item02 {
    content: url(../img/common/nav_02_w.png);
    width: 128px;
  }
  #header-white-item03 {
    content: url(../img/common/nav_03_w.png);
    width: 129px;
  }
  #header-white-item01:hover {
    content: url(../img/common/nav_01_on_w.png);
  }
  #header-white-item02:hover {
    content: url(../img/common/nav_02_on_w.png);
  }
  #header-white-item03:hover {
    content: url(../img/common/nav_03_on_w.png);
  }
}

.header-black {
  height: 64px;
  padding-top: 6px;
  color: $black;
  background-color: rgba(255, 255, 255, 0.8);
  opacity: 0;
  transition: 500ms;
  img {
    height: 62px;
  }

  .header-logo,
  .header-contact {
    padding: 0 20px;
  }

  position: fixed;
  top: 0;
  width: 100%;

  #header-black-item01 {
    content: url(../img/common/menu_nav_01_b.png);
    width: 82px;
  }
  #header-black-item02 {
    content: url(../img/common/menu_nav_02_b.png);
    width: 128px;
  }
  #header-black-item03 {
    content: url(../img/common/menu_nav_03_b.png);
    width: 129px;
  }
  #header-black-item01:hover {
    content: url(../img/common/menu_nav_01_on_b.png);
  }
  #header-black-item02:hover {
    content: url(../img/common/menu_nav_02_on_b.png);
  }
  #header-black-item03:hover {
    content: url(../img/common/menu_nav_03_on_b.png);
  }
}

.header-sp {
  .header-logo-sp {
    position: absolute;
    img {
      width: 215px;
      margin-top: 12px;
    }
  }
  nav {
    width: 100%;
    height: 0;
    #menuToggle {
      display: inline-block;
      position: fixed;
      top: 17px;
      right: 17px;
      width: 45px;
      height: 45px;
      color: $white;
      font-size: 12px;
      text-align: center;
      z-index: 10;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      -o-user-select: none;
      user-select: none;
    }
    input {
      display: block;
      width: 45px;
      height: 32px;
      position: absolute;
      top: -7px;
      left: -4px;
      cursor: pointer;
      opacity: 0;
      z-index: 20;
      -webkit-touch-callout: none;
      -moz-touch-callout:none;
      -ms-touch-callout:none;
      -o-touch-callout:none;
    }
    .toggleButton span {
      display: block;
      width: 37px;
      height: 4px;
      margin-left: 4px;
      margin-bottom: 5px;
      position: relative;
      background: $white;
      border-radius: 3px;
      z-index: 10;
      -webkit-transform-origin: -4px 12px;
      -moz-transform-origin: -4px 12px;
      -ms-transform-origin: -4px 12px;
      -o-transform-origin: -4px 12px;
      transform-origin: -4px 12px;
      -webkit-transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
        background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
        opacity 0.55s ease;
      -moz-transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
        background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
        opacity 0.55s ease;
      -ms-transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
        background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
        opacity 0.55s ease;
      -o-transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
        background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
        opacity 0.55s ease;
      transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
        background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
        opacity 0.55s ease;
    }
  
    input:checked~div .toggleButton span:first-child {
      -webkit-transform-origin: -3px 13px;
      -moz-transform-origin: -3px 13px;
      -ms-transform-origin: -3px 13px;
      -o-transform-origin: -3px 13px;
      transform-origin: -3px 13px;
    }
  
    .toggleButton span:nth-last-child(1) {
      -webkit-transform-origin: 8px -2px;
      -moz-transform-origin: 8px -2px;
      -ms-transform-origin: 8px -2px;
      -o-transform-origin: 8px -2px;
      transform-origin: 8px -2px;
    }
    input:checked~div .toggleButton span {
      opacity: 1;
      -webkit-transform: rotate(36deg) translate(-4px, -2px);
      -moz-transform: rotate(36deg) translate(-4px, -2px);
      -ms-transform: rotate(36deg) translate(-4px, -2px);
      -o-transform: rotate(36deg) translate(-4px, -2px);
      transform: rotate(36deg) translate(-4px, -2px);
    }
    input:checked~div .toggleButton span:nth-last-child(2) {
      opacity: 0;
      -webkit-transform: rotate(0deg) scale(0.2, 0.2);
      -moz-transform: rotate(0deg) scale(0.2, 0.2);
      -ms-transform: rotate(0deg) scale(0.2, 0.2);
      -o-transform: rotate(0deg) scale(0.2, 0.2);
      transform: rotate(0deg) scale(0.2, 0.2);
    }
    input:checked~div .toggleButton span:nth-last-child(1) {
      -webkit-transform: rotate(-36deg) translate(0, -1px);
      -moz-transform: rotate(-36deg) translate(0, -1px);
      -ms-transform: rotate(-36deg) translate(0, -1px);
      -o-transform: rotate(-36deg) translate(0, -1px);
      transform: rotate(-36deg) translate(0, -1px);
    }
    .toggleText {
      font-weight: $Bold;
    }
    input:checked~div .toggleText span#toggleText-menu {
      display: none;
    }
    input:not(:checked)~div .toggleText span#toggleText-close {
      display: none;
    }
    .toggleBox {
      padding-top: 3px;
      z-index: 15;
    }
    input:checked~.toggleBox {
      background-color: $black;
    }
    #menu {
      position: fixed;
      top: 0;
      bottom: 0;
      right: 100vw;
      left: -100vw;
      background-color: $white;
      color: $black;
      z-index: -1;
      -webkit-transition: 500ms;
      -moz-transition: 500ms;
      -ms-transition: 500ms;
      -o-transition: 500ms;
      transition: 500ms;
      display: block;
      padding: 0 17px;
      img {
        width: 215px;
        margin-top: 12px;
      }
      li {
        width: 100%;
        background-image: linear-gradient(to right, $black 50%, transparent 50%);
        background-position: left bottom;
        background-repeat: repeat-x;
        background-size: 4px 1px;
        height: 45px;
        line-height: 45px;
        font-size: 14px; 
        @include YuGothic(bold);
      }
      li:nth-child(2) {
        background-image: linear-gradient(to right, $black 50%, transparent 50%), linear-gradient(to right, $black 50%, transparent 50%);
        background-position: left top, left bottom;
        background-repeat: repeat-x, repeat-x;
        background-size: 4px 1px;
        margin-top: 45px;
      }
    }
    input:checked~#menu {
      right: 0;
      left: 0;
    }
  }
}